body {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
      text-align: center;
  }

  p {
      margin-left: 80px;
      margin-right: 80px;
  }
  
  a {
    color: #d660a5;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  a:hover {
    color: #f58cd5;
  }

  .container {
    margin: 50px auto 0 auto;
  }

  .hidden {
    display: none;
  }

  .button-container {
      text-align: center;
  }

  button {
    display: inline-block;
    margin: 5px;
    background-color: #d660a5;
    border-radius: 5px;
    color: #000000;
    border: 0;
    font-size: 110%;
    text-align: center;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #f58cd5;
  }